*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#e88935;
  font-family:'Poppins',sans-serif;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
  min-height:100vh;
}

.container{
  width:100%;
  max-width:1450px;

  background:#f8f4ef;
  border-radius:32px;
  overflow:hidden;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:28px 50px;
  border-bottom:1px solid #e8e2dc;
}

.logo{
  font-size:42px;
  font-weight:800;
}

.logo span{
  color:#f97316;
}

.nav-links{
  display:flex;
  gap:55px;
  list-style:none;
}

.nav-links li{
  font-size:14px;
  font-weight:500;
  cursor:pointer;
}

.nav-icons{
  display:flex;
  gap:28px;
  font-size:24px;
}

.hero{
  display:flex;
  gap:40px;
  padding:45px 55px;
}

.left{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:28px;
}

.new{
  color:#f97316;
  font-size:28px;
  font-weight:700;
}

.title{
  font-size:74px;
  line-height:0.95;
  font-weight:800;
}

.title span{
  color:#f97316;
}

.price{
  font-size:54px;
  font-weight:700;
}

.line{
  width:100%;
  height:1px;
  background:#ddd;
}

.section{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.section p{
  color:#555;
  line-height:1.8;
}

.read-more{
  font-weight:600;
  cursor:pointer;
}

.dropdown{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 0;
  border-top:1px solid #ddd;
  font-weight:600;
}

.center{
  flex:2;
  display:flex;
  justify-content:center;
  align-items:center;
}

.jacket{
  width:100%;
  max-width:720px;
}

.right{
  width:300px;
  display:flex;
  flex-direction:column;
  gap:35px;
}

.right-title{
  font-size:20px;
  font-weight:700;
  margin-bottom:18px;
}

.sizes{
  display:flex;
  gap:12px;
}

.size-btn{
  width:58px;
  height:58px;

  border:none;
  border-radius:18px;

  background:#efebe7;

  font-size:18px;
  font-weight:600;

  cursor:pointer;
}

.active{
  background:#f97316;
  color:#fff;
}

.size-guide{
  margin-top:15px;
  font-weight:600;
}

.colors-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}

.color-box{
  background:#ece7e2;
  border-radius:22px;
  padding:10px;
  border:2px solid transparent;
}

.selected{
  border-color:#f97316;
}

.color-box img{
  width:100%;
}

.color-card{
  text-align:center;
}

.color-card p{
  margin-top:8px;
  font-size:13px;
  font-weight:600;
}

.wishlist{
  height:60px;
  border-radius:30px;
  border:1px solid #ddd;

  background:#fff;
  font-size:15px;
  font-weight:600;
}

.bag-btn{
  height:70px;
  border:none;
  border-radius:35px;

  background:#f97316;
  color:#fff;

  font-size:20px;
  font-weight:700;
}
 
.feature-icons{
  display:flex;
  justify-content:center;
  align-items:center;

  gap:70px;
  margin-bottom:40px;
}

.icon-item{
  display:flex;
  align-items:center;
  gap:14px;
}

.icon-circle{
  width:60px;
  height:60px;

  border-radius:50%;
  background:#f2ece7;

  display:flex;
  justify-content:center;
  align-items:center;
}

.icon-circle img{
  width:28px;
  height:28px;
}

.icon-item span{
  font-size:15px;
  font-weight:600;
  color:#555;
}

.features{
  display:flex;
  gap:24px;

  padding:30px;
  margin:0 55px 55px;

  background:#f5efe9;
  border-radius:34px;
}

.feature{
  flex:1;
  display:flex;
  align-items:flex-start;
  gap:18px;
}

.feature img{
  width:140px;
  height:190px;

  object-fit:cover;
  border-radius:24px;
}

.feature-content{
  display:flex;
  flex-direction:column;

  gap:12px;
  padding-top:6px;
}

.feature-content h3{
  font-size:18px;
  font-weight:700;
}

.feature-content p{
  font-size:14px;
  line-height:1.8;
  color:#555;
}


.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;

  gap:35px;
  padding:35px 55px 45px;
  border-top:1px solid #e2ddd8;
}

.footer-item{
  flex:1;

  display:flex;
  align-items:center;

  gap:16px;

  min-width:0;
}

.footer-icon{
  width:58px;
  height:58px;
  min-width:58px;

  border-radius:50%;
  background:#f2ece7;

  display:flex;
  justify-content:center;
  align-items:center;
}

.footer-icon img{
  width:26px;
  height:26px;
  object-fit:contain;
}

.footer-text{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.footer-text h4{
  font-size:15px;
  font-weight:700;
  color:#111;
}

.footer-text p{
  font-size:13px;
  color:#666;
  line-height:1.7;
}
